<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/js/updateUsername.js"></script>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
</head>
<style>
    a {
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
        color: inherit;
    }
</style>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-white">Главная</a></li>
                <li><a th:href="@{/users}" class="nav-link px-2 text-white">Пользователи</a></li>
            </ul>
            <div class="text-end">
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:inline="text">
                            [[${#httpServletRequest.remoteUser}]]
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a th:href="@{'/user/' + ${#httpServletRequest.remoteUser}}" class="dropdown-item">Профиль</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <input type="submit" value="Выйти" class="dropdown-item link-danger"/>
                                </form>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <div class="roles mt-3">
        <span th:if="${user.getRoles().contains(T(com.example.forum.models.Roles).ROLE_ADMIN)}" class="badge rounded-pill text-bg-danger" style="--bs-badge-font-size: 1rem;" th:text="'Администратор'"></span>
        <span th:if="${user.getRoles().contains(T(com.example.forum.models.Roles).ROLE_USER)}" class="badge rounded-pill text-bg-primary" style="--bs-badge-font-size: 1rem;" th:text="'Пользователь'"></span>
        <span th:if="${user.getRoles().contains(T(com.example.forum.models.Roles).ROLE_OPERATOR)}" class="badge rounded-pill text-bg-success" style="--bs-badge-font-size: 1rem;" th:text="'Модератор'"></span>
    </div>
    <div class="row">
        <div class="col-auto username">
            <h1 th:text="${user.getUsername()}"></h1>
        </div>
        <div class="col-auto change_button" th:if="${#httpServletRequest.remoteUser == user.getUsername()}">
            <button class="btn mt-sm-2" th:text="'⚙'" data-bs-toggle="dropdown"></button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateUsername">Изменить логин</button></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updatePassword">Изменить пароль</button></li>
            </ul>
        </div>
        <div class="col-auto change_button" sec:authorize="hasRole('ROLE_ADMIN')" th:if="${#httpServletRequest.remoteUser != user.getUsername()}" data-bs-toggle="dropdown">
            <button class="btn mt-sm-2" th:text="'⚙'"></button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateUsernameForAdmin">Изменить логин</button></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updatePassword">Изменить пароль</button></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" th:if="${user.isActive() == true}"><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#banUser">Деактивировать пользвателя</button></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" th:if="${user.isActive() == false}"><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#unbanUser">Активировать пользвателя</button></li>
            </ul>
        </div>
    </div>
    <div class="user_info mt-3">
        <b th:text="'Количество постов: ' + ${userCountPosts}"></b>
        <br><b th:text="'Количество комментариев: ' + ${userCountComments}"></b>
        <div class="is_active mt-3">
            <b th:if="${user.isActive()}" th:text="'Активен'" style="color: green"></b>
            <b th:if="!${user.isActive()}" th:text="'Неактивен'" style="color: red"></b>
        </div>
    </div>
    <hr class="hr mt-3" />
    <div class="posts mt-3">
        <a class="btn btn-success" data-bs-toggle="collapse" href="#showPosts" role="button" aria-expanded="false" aria-controls="collapseExample">
            Показать посты
        </a>
    </div>
    <div class="collapse mt-3 mb-3" id="showPosts">
        <div class="card card-body">
            <div th:each="post : ${userPosts}">
                <div class="alert alert-info">
                    <a th:href="@{'/group/' + ${post.getGroups().getId()} + '/post?id=' + ${post.getId()}}"><h2 th:text="${post.getTitle()}" id="title"></h2></a>
                    <p th:text="${post.getContent()}" id="content"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateUsername" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/updateUsername}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Обновить логин</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Логин</label>
                        <input type="text" th:value="${user.getUsername()}" class="form-control" id="username" name="username" onkeyup="checkUsername()"/>
                        <div class="form-text">После изменения нужно снова войти в аккаунт.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" th:value="'Обновить'" id="button_success_update_username" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="updateUsernameForAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/updateUsernameForAdmin}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Обновить логин</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Логин</label>
                        <input type="text" th:value="${user.getUsername()}" class="form-control" id="username_for_admin" name="username" onkeyup="checkUsernameForAdmin()"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" th:value="'Обновить'" id="button_success_update_username_for_admin" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="updatePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/updatePassword}" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Обновить пароль</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" onkeyup="checkPassword()"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" th:value="'Обновить'" id="button_success_update_password" class="btn btn-primary" disabled/>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="banUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Блокировка пользователя</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p>Вы действительно хотите заблокировать данного пользователя?</p>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <form th:action="@{/banUser}" method="post">
                    <input type="hidden" th:value="${user.getId()}" name="userID">
                    <input type="submit" th:value="'                           Заблокировать                           '" class="btn btn-lg btn-danger w-100 mx-0 mb-2">
                </form>
                <!--      <a th:href="@{'/deletePost?postId=' + ${thread.getId()}}" class="btn btn-lg btn-danger w-100 mx-0 mb-2">Удалить</a>-->
                <button type="button" class="btn btn-lg btn-light w-100 mx-0 mb-2" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unbanUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Разблокировка пользователя</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p>Вы действительно хотите разблокировать данного пользователя?</p>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <form th:action="@{/unbanUser}" method="post">
                    <input type="hidden" th:value="${user.getId()}" name="userID">
                    <input type="submit" th:value="'                          Разблокировать                          '" class="btn btn-lg btn-success w-100 mx-0 mb-2">
                </form>
                <!--      <a th:href="@{'/deletePost?postId=' + ${thread.getId()}}" class="btn btn-lg btn-danger w-100 mx-0 mb-2">Удалить</a>-->
                <button type="button" class="btn btn-lg btn-light w-100 mx-0 mb-2" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>